.button-primary {
  background-color: #2ecc40;
  margin-top: 16px;
  padding: 12px;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.button-primary--disabled {
  background-color: lightgrey;
  cursor: initial;
}
